/** @format */

.card img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.card {
  width: 250px;
}
.totalContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}
